
//Logo Colors
@orange: #FF5C00;
@yellow: #F5E410;
@greyblue: #41494E;
@background: #5D5E60;

@blue: #48639C;
@beige: #CFDBD5;


//Media Breakpoints
@phone: ~"only screen and (max-width: 480px)";
@tablet: ~"only screen and (max-width: 839px)";